.action-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

button {
  background-color: white;
  border: 2px solid #ffc400;
  color: #ffc400;
  padding: 10px 10px;
}

.vertm {
  vertical-align: middle;
}

.active {
  border: 2px solid #ff8c00;
  color: #ff8c00;
}

.disabled {
  border: 2px solid darkgray;
  color: darkgray;
}

.clear {
  border: 2px solid red;
  color: red;
}

.done {
  border: 2px solid green;
  color: green;
}
